@model IEnumerable<Product>

@{
    ViewBag.Title = "Tequilas Menu Items";
}
<style>
   /*  img {
        transition: transform 0.3s ease-in-out;
    }

        img:hover {
            transform: scale(1.2); /* Zoom in */
        } */

    <style >
    .fixed-image-height {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .fixed-image-height:hover {
        transform: translateY(-10px); /* Lifts the image slightly */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
    }
</style>


</style>

@functions
{
    string GetDeleteModalId(Product prod)
    {
        return "#deleteModal" + prod.ProductId;
    }

    string GetModalId(Product prod)
    {
        return "deleteModal" + prod.ProductId;
    }
}
             
<h2>Tequilas Menu Items</h2>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Create New Item</a><br />
<div class="row">
    @foreach(Product prod in Model)
    {
        <div class="col-md-4">
        <form asp-action="delete" asp-controller="Product" method="post">
            <input type="hidden" name="id" value="@prod.ProductId">
            <div class="card" style="width: 18rem;">
              @*   image div  *@
              <img src="@Url.Content("~/images/" +prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Discription">
              <div class="card-body">
                  <h5 class="card-title">@prod.Name</h5>
                  <p class="card-text">@prod.Discription></p>
                  <p class="card-text">@prod.Price.ToString("C")</p>
                  <p class="card-text">Quantity In Stock: @prod.Stock</p>
                  <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit" asp-route-id="@prod.ProductId"><i class="bi bi-pencil-fill">Edit</i>  </a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(prod)">
                      <i class="bi bi-trash">Delete</i>
                    </button>

                        <div class="modal fade" id="@GetModalId(prod)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to Delete @prod.Name ?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                   
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
      
              </div>

            </div>
        </form>
        </div>
    }
</div>