@model IEnumerable<Ingredient>

@{
    ViewBag.Title = "List of Ingredients";
}

<h1 class="display-4  text-primary mb-4">Ingredients</h1>
<a asp-action="Create" class="btn btn-warning">Create New Ingredient</a>

@* //original code *@
@*  <a asp-action="Create">Create New Ingredient</a> *@


@* <table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th></th>
        </tr>
      
    </thead>
    <tbody>
        @foreach(Ingredient i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => i.Name)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.IngredientId">Details</a>
                    <a asp-action="Edit" asp-route-id="@i.IngredientId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.IngredientId">Delete</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table> *@
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => i.Name)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio_@i.IngredientId" id="btnradio1_@i.IngredientId" autocomplete="off" onchange="navigateToUrl('@Url.Action("Details", new { id = i.IngredientId })')">
                        <label class="btn btn-outline-primary" for="btnradio1_@i.IngredientId">Details</label>

                        <input type="radio" class="btn-check" name="btnradio_@i.IngredientId" id="btnradio2_@i.IngredientId" autocomplete="off" onchange="navigateToUrl('@Url.Action("Edit", new { id = i.IngredientId })')">
                        <label class="btn btn-outline-primary" for="btnradio2_@i.IngredientId">Edit</label>

                        <input type="radio" class="btn-check" name="btnradio_@i.IngredientId" id="btnradio3_@i.IngredientId" autocomplete="off" onchange="navigateToUrl('@Url.Action("Delete", new { id = i.IngredientId })')">
                        <label class="btn btn-outline-primary" for="btnradio3_@i.IngredientId">Delete</label>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>

<script>
    function navigateToUrl(url) {
        window.location.href = url;
    }
</script>




